
#navSection{
	background-color: #b5d5e0;
	padding: 0;
}

#benifitsSection{
	background-color: #FFFFFF;
}

#worksSection{
	background-color: #99d2a5;
}

#templatesSection{
	background-color: #f0f0f0;
}

#teamSection{
	background-color: #deb5c5;
}

#contactSection{
	background-color: #3c3c3c;
	color: #d3d3d3;
}

#contactSection{
	background-color: #3c3c3c;
	color: #d3d3d3;
}

.form-group{
	width: 70%;
	margin: 0 auto;
}

section{
	padding: 30px 0 30px 0;
}

.container + .row{
	background-color: blue;
}

.imgWorks{
	margin-bottom: 30px;
}

i{
	padding-right: 10px;
}